<h4>Notes</h4>

<% if user_signed_in? %>
  <% render "notes/index" %>
<% else %>
  <%= button_to t('home.signup'), new_user_registration_path, method: :get %>
  <%= button_to t('home.login'),  new_user_session_path %>
<% end %>
